<table id="product-list" class="display" width="width: 100%">
    <thead>
        <tr>
            <th>Category</th>
            <th>Model</th>
            <th>Color</th>
            <th>Size</th>
            <th>Price</th>
            <th>Description</th>
            <th>Owner</th>
            <th>Option</th>
        </tr>
    </thead>
</table>
<script>
    export default {
		onstate({ changed, current, previous }) {
            let dataSet = [];
            if (current && current.length)
                dataSet = current;
		},
		oncreate() {
            let self = this;
            let data = this.get();
            let table;
            console.log('data: ', data);
            $(document).ready(() => {
                table = $('#product-list').DataTable( {
                    searchDelay: 800,
                    bProcessing: true,
                    pageLength: 10,
                    serverSide: true,
                    ajax: {
                        url: "http://localhost:3001/api/device",
                        type: "POST",
                        complete: function() {
                            $('#product-list tbody .edit-product').on('click', function() {
                                var data = table.row( $(this).parents('tr') ).data();
                                self.editItem(data);
                            });

                            $('#product-list tbody .remove-product').on('click', function() {
                                var data = table.row( $(this).parents('tr') ).data();
                                self.removeItem(data);
                            });
                        }
                    },
                    columns: [
                        { data: "category" },
                        { data: "model" },
                        { data: "color" },
                        { data: "size" },
                        { data: "price" },
                        { data: "description" },
                        { data: "ownerId" },
                        { title: "Option" }
                    ],
                    columnDefs: [{
                        targets: -1,
                        data: null,
                        render: function(data,type,full,meta) {
                            return "<a href='javascript:void(0)' class='edit-product item icon'><i class='edit icon'></i></a>" +
                            "<a href='javascript:void(0)' class='remove-product item icon'><i class='trash icon'></i></a>";
                        }
                    }]
                });
                this.set({table: table});
            });
		},
		onupdate({ changed, current, previous }) {
            
		},
		ondestroy() {
            this.set({table: null});
		},
		data() {
			return {
				table: null
			};
		},
		computed: {
        },
        methods: {
            editItem(idProduct) {
                console.log('edit nhe: ', idProduct);
            },
            removeItem(product) {
                if (!Object.keys(product).length)
                    return;

                axios.delete(`http://localhost:3001/api/device/${product.id}/delete`)
                .then((response) => {
                    if (response.status === 200) {
                        toastr.success('Device was Removed', 'Done!')
                        this.get().table.ajax.reload();
                    }
                })
                .catch((error) => {
                    console.log(error);
                });
            }
        }
	};
</script>